[Service]
WorkingDirectory=/var/lib/nodejs/#{INSTANCE_NAME}
ExecStartPre=/bin/echo "Demarrage de l'application #{INSTANCE_NAME}"
ExecStart=/bin/bash -c "#{NODE_BIN_DIR}/node --harmony --stack-size=1024 --trace_gc --trace_gc_verbose index.js >> /var/log/nodejs/#{INSTANCE_NAME}/log-gc.log 2>&1"
ExecStopPost=/bin/echo "Arret de l'application #{INSTANCE_NAME}"
Restart=no
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=#{INSTANCE_NAME}
User=nodejs
Group=nodejs
EnvironmentFile=/etc/nodejs/#{INSTANCE_NAME}/environnement
Environment='NODE_APP_INSTANCE=#{INSTANCE}'
 
[Install]
WantedBy=multi-user.target 