html {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 52.5em;
}

#auth form {
    background-color: #f4f4f4;
    padding: 0.3em 1.5em 1.5em;
    border-radius: 0.313em;
}

#sidebar {
    color: #fff;
    font-weight: 600;
}

body {
    overflow: auto;
    margin: 0;
    background-image: url('../img/fond_connexion.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#site {
    padding-top: 0;
}

#header {
    text-align: center;
    margin: 0 2em;
}

#content {
    font-size: 1em;
    font-family: NotoSansUI-Regular;
    margin: auto;
    text-align: center;
}

.errors {
    background-image: url('../img//icon_error.png');
    background-repeat: no-repeat;
    color: #e6151d;
    border: 1px solid #e6151d;
    background-position: 0.118em center;
    background-position: 0.5em center;
    padding: 0.5em 0.5em 0.5em 2.5em;
    text-align: left;
    background-size: 1em 1em;
}

@media screen and (max-device-width: 720px) {
    #content {
        margin: 0 5em;
    }
    #content h2 {
        font-size: 1em;
        padding: 0.2em;
    }
    button,
    label,
    input {
        font-size: 1.5em;
    }
    html {
        min-height: 98em;
        /* device en mode paysage */
    }
}

@media screen and (min-device-width: 720px) {
    #content {
        max-width: 22.938em;
    }
    #content h2 {
        font-size: 1em;
        padding: 0.875em;
    }
    button,
    label,
    input {
        font-size: 1em;
    }
}

@media screen and (max-width: 405px) {
    #content {
        margin: 0 1em;
    }
}

h1#app-name {
    color: #fff;
    font-size: 22px;
    padding-bottom: 1em;
}

#content h2 {
    color: #007eca;
    font-family: NotoSansUI-Bold;
    text-transform: uppercase;
    border-bottom: 1px solid #03476e;
    font-weight: 500;
}

input {
    height: 2.188em;
    padding: 0.5em 0.5em 0.5em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #AEAEAE;
    width: 100%;
    margin: 0 0 1em 0;
    display: block;
    line-height: 1.412em;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

input:focus {
    outline: 1px auto #4D90FE;
}

button {
    margin: 1em 0;
    background: #03476e;
    cursor: pointer;
    border: medium none;
    text-transform: uppercase;
    color: #FFF;
    font-family: NotoSansUI-Bold;
    min-width: 100%;
    font-weight: 600;
    min-height: 2.353em;
}

label {
    display: block;
    text-align: left;
    margin: 0.5em 0;
    line_heigth: 1.412em;
}

.cnx-info {
    font-size: 13px;
    margin: 0.725em 0 0 0;
}

.cnx-info p:first-child {
    font-weight: bold
}